[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - santosderek/Website-Scrubber: A script that will scrub a server's directories for direct downloads.
Type=Link
URL=https://github.com/santosderek/Website-Scrubber
Icon=text-html
